name: Start VM

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - name: clone repository
      uses: actions/checkout@v4

    - name: install python
      uses: actions/setup-python@v4
      with: 
        python-version: '3.12'
    
    - name: run test sécurité
      run: |
          pip install bandit
          bandit -r ./serveur/gateway/app.py
          bandit -r ./serveur/storage/app.py

    - name: build docker
      run: docker compose up --build

    - name: login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: build and push docker image
      uses: docker/build-push-action@v5
      with:
        context: ./serveur
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/ma-capsule:latest
